
html {
    background-color: #FFECE5;
}

body {
    font-family: 'Roboto Mono', 'Electrolize', monospace, sans-serif !important; 
    font-size: 25px;
}


.row {
    margin-bottom: 10px;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

body {
    background-color: #FFECE5;
    margin-top: 20px;
}

.calculator {
    background-color: #66FAFF; 
    height: 600px;
    min-width: 425px;
    max-width: 500px;
    padding-top: 20px;
}



.display {
    background-color: #FFECE5;
    border-radius: 10px;
    text-align: right;
    margin: 0 20px; 
}

#display-main {
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
}

#display-under {
    height: 50px;
    font-size: 60%;
    line-height: 50px;
    vertical-align: middle;
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px;
}

.button {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 10px;
}

.long {
    height: 90px; 
    border-radius: 10px;
}

.text {
    line-height: 50px;
}

.button-text {   
    padding-left: 20px;
}

.clear-button { 
    padding-left: 10px;
}

.button-operator {
    padding-left: 20px;
}

.enter {   
    padding-left: 225px;
    padding-top: 20px;
}

.number {
    background-color: #7B8899;
}

.operator {
    background-color: #0C61CC;
}

.clear {
    background-color: #CC3222;
}

.credit {
    margin-top: 15px;
    font-size: 80%;
    background-color: #FFECE5;
    text-align: center;
}

